<form method="post" action="{{ path('app_favoris_delete', {'idfavoris': favori.idfavoris}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favori.idfavoris) }}">
    <button class="btn">Delete</button>
</form>
