<form method="post" action="{{ path('app_programmebienetre_delete', {'idprogramme': programmebienetre.idprogramme}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce programme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programmebienetre.idprogramme) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
